body {
    background-image: url("./assets/images.jpeg");
    background-color: #DDDDDD;
    background-repeat: no-repeat;
    background-size: cover;
}

.botao-pai {
    width: 100%;
    text-align: center;
}

.botao {
    background-color: #C0C0C0;
    font-size: large;
    font-weight: bold;
    color: #363636;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #363636;
}

table {
    color: white;
    visibility: hidden;
    margin: auto;
    margin-top: 50px;
}

th {
    background-color: #C0C0C0;
    color: #1C1C1C;
    font-size: xx-large;
    text-align: center;
    width: 200px;
    border: 2px solid white;
}

td {
    background-color: #C0C0C0;
    color: #4F4F4F;
    font-size: x-large;
    text-align: center;
    border: 2px solid white;
}